@model InputProductModel
        @{ 
        
        }
 
<form method="post" enctype="multipart/form-data">
    <input asp-for="Photo" />
    <input asp-for="ProductName" />
    <input type="submit" value="KAYDET" />
</form>